---
import BlogPostLayout from '../layouts/BlogPostLayout.astro'
import GRC_Hero from '../assets/GRC_Hero.png'
---

<BlogPostLayout
	title="About the GRC"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('September 1, 2024')}
	heroImage={GRC_Hero.src}
>
	<section id="about">
		<p>
			<strong>Welcome</strong> to the Faculty of Medicine Graduate Representation Committee (GRC)! We are here to support
			and advocate for the graduate students of the Faculty of Medicine.
		</p>

		<h2>Our Purpose and Objectives</h2>
		<p>
			The GRC is dedicated to keeping you informed about important faculty and university policies that affect your
			graduate experience. We actively seek your feedback to ensure our advocacy aligns with your needs and sentiments.
		</p>

		<p>Through our initiatives, we aim to ensure that you:</p>
		<ul>
			<li>Are well-informed about policies and resources impacting your graduate life.</li>
			<li>Feel heard and know that your opinions contribute to improving our graduate community.</li>
			<li>Experience positive changes through our advocacy and policy efforts.</li>
		</ul>

		<h2>Our Work</h2>
		<p>
			The GRC primarily focuses on student stipends and the Faculty of Medicine Harmonized Base Funding Agreement
			(HBFA). Each year, we conduct the "GRC Finance and Living Survey" to gather data on your finances, living
			conditions, career prospects, and well-being. This data, combined with Statistics Canada metrics on Toronto's cost
			of living, helps us create the "GRC Finance and Living Report". This report highlights the realities of graduate
			student life and includes our recommendations for HBFA changes.
		</p>

		<h2>Get Involved</h2>
		<p>
			We encourage you to bring any issues related to student life, finances, or your graduate experience to the GRC.
			Whether you're a student or a GRC member, your input is invaluable in helping us advocate effectively on your
			behalf.
		</p>

		<p>Join us in making a difference in our graduate community!</p>
	</section>
</BlogPostLayout>
