---
import BaseLayout from '../../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import { BLOG_TAGS } from '../../consts'
import { prettifyTag } from '../../utils/strings'
---

<BaseLayout>
	<main class="container mx-auto min-h-screen px-4 py-8">
		<section>
			<ul class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
				<!-- For each tag, create a card with a placeholder image, title, description, and link -->
				{
					BLOG_TAGS.map((tag) => (
						<li class="card overflow-hidden rounded-lg bg-white shadow-md duration-300 focus-within:ring-2 focus-within:ring-blue-500 hover:-translate-y-1">
							<a
								href={`/resources/${tag}/`}
								class="focus-visible:ring-3 block focus:outline-none focus-visible:ring-blue-500 focus-visible:ring-offset-2"
							>
								<Image
									src={`/uoft-placeholder-default.webp`}
									alt={tag as string}
									width={720}
									height={360}
									class="aspect-video min-h-[18rem] w-full object-cover object-center"
								/>
								<div class="p-4">
									<h4 class="mb-2 text-xl font-bold">{prettifyTag(tag)}</h4>
								</div>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>
