---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ClientRouter } from 'astro:transitions'
import '../styles/global.css'

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<ClientRouter />
		<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
		<script is:inline src="/pagefind/pagefind-ui.js"></script>
	</head>
	<body>
		<slot name="header">
			<Header />
		</slot>
		<slot />
		<slot name="footer">
			<Footer />
		</slot>
	</body>
</html>
